@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka:wght@300..700&display=swap" rel="stylesheet">');

body {

    background-image: linear-gradient(#163E64, #163E64);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    color:#d8d8d8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-top: 5%;

}

h1 {

    text-align: center;
    font-size: 300%;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-size: <weigth>;
    font-style: normal;
    color: #d8d8d8;
 
}

h2 {

  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  color: #d8d8d8;

}

.icones {

    width: 7vb;
}


#foto {
    
    width: 30vb;
    height: 30vb;
    background-image: url('../images/Charles.jpg');
    background-size: 30vb;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;

}

#divIcones {
    text-align: center;
    background-color: #d8d8d8;
    width: ;
    height: 10vb;
    padding-top: 1vb;
    padding-bottom: 1vb;

}

#foto-alinhamento {

    background-color: red;
    width: 100%;
    height: 200%;
    display: inline-block;

}

#alinhamento-central {

    text-align: center;
}

hr {

    margin-bottom: 3%;

}

a {

    text-decoration: none;

}

