body{
    background-image: linear-gradient(#077EE6, #07C4E6);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 5%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
}


#foto {
    width: 200px;
    height: 200px;
    background-image: url('../images/Charles.jpg');
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
}

#foto-alinhamento {
    background-color: red;
    width: 33%;
    display: inline-block;
}

hr {
    margin-bottom: 3%;
}

a {
    text-decoration: none;
}

