@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

body{

    background-image: linear-gradient(#163E64, #163E64);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 5%;
    font-family: arial;

}

h1 {

    font-size: 300%;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-size: <weigth>;
    font-style: normal;
    color: #d8d8d8;
 
}

.icones {

    width: 7vb;
}


#foto {

    width: 30vb;
    height: 30vb;
    background-image: url('../images/Charles.jpg');
    background-size: 30vb;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;

}

#divIcones {

    background-color: #d8d8d8;
    width: ;
    height: 10vb;
    padding-top: 1vb;
    padding-bottom: 1vb;

}

#foto-alinhamento {

    background-color: red;
    width: 100%;
    height: 200%;
    display: inline-block;

}

#alinhamentocentral {

    text-align: center;
}

hr {

    margin-bottom: 3%;

}

a {

    text-decoration: none;

}

